.root {
  display: grid;
  row-gap: 16px;
  margin: 3rem;
  justify-self: center;
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }
  figcaption {
    font-size: 12px;
  }
  input {
    font-size: 1.4rem;
    font-weight: 600;
    display: grid;
    justify-self: center;
    width: 80%;
    justify-content: center;
    border: 1px solid red;
    border-radius: 100px;
    padding: 16px 20px;
  }
  section {
    display: flex;
    flex-direction: row;
  }
}
.infovideo {
  justify-self: baseline;
}
.fieldButton {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 32px;
  min-width: 12px;
  cursor: pointer;
  color: rgb(15, 15, 15);
  font-weight: 500;
  border: none;
  padding: 0 12px;
  &:hover {
    background-color: #e5e5e5;
  }
}
.wrapper {
  display: flex;
  gap: 16px;
  flex-direction: row;
}
.center {
  justify-self: center;
}
.box {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  grid-auto-rows: min-content;
}
.uploadButton {
  margin: 2rem 0;
  border-radius: 8px;
  height: 45px;
  min-width: 70px;
  justify-self: center;
  background-color: #065fd4d6;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  border: none;
  cursor: pointer;
  &:hover{
    background-color:rgb(6, 95, 212);
  }
}
.thumbnail {
  width: 320px; /* Set the width of the thumbnail */
  height: auto;
}
.info {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 19px;
  height: 19px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
